body {
  background-color: rgba(0, 0, 0, 0.966);
  color: white;
}
.custom {
  padding: 10px;
  border: 2px solid blueviolet;
  border-radius: 5px;
}
.div-custom {
  padding: 10px;
  border: 2px solid brown;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
}
#basic-addon {
  cursor: pointer;
}
